HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Node ###
node_modules/
package-lock.json

### CSS gerado pelo SCSS ###
src/main/resources/static/css/main.css
src/main/resources/static/css/main.css.map

### Arquivos extras ###
src/main/resources/static/js/bootstrap.bundle.min.js
src/main/resources/static/js/flatpickr.min.js
src/main/resources/static/css/flatpickr.min.css
