<nav class="container mt-navbar" th:fragment="breadcrumb(breadcrumbItems)" aria-label="breadcrumb">
    <ol class="breadcrumb" >

        <li th:each="item : ${breadcrumbItems}" class="breadcrumb-item"
            th:classappend="${item.url == null} ? 'active'"
            th:attr="aria-current=${item.url == null ? 'page' : null}">

            <a th:if="${item.url != null}"
               th:href="${item.url}"
               th:text="${item.label}"></a>

            <span th:unless="${item.url != null}"
                  th:text="${item.label}"></span>
        </li>

    </ol>
</nav>