<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<form th:fragment="form-pf"
      th:action="@{/clientes/save/fisica}"
      th:object="${pessoaFisica}"
      method="post"
      class="mt-3">

    <input type="hidden" th:field="*{id}">

    <div class="mb-4">
        <label for="cpf">CPF</label>
        <input type="text" th:field="*{cpf}" id="cpf" placeholder="Ex: 000.000.000-00">
        <span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" class="text-danger"></span>
    </div>

    <div class="mb-4">
        <label for="nome">Nome</label>
        <input type="text" th:field="*{nome}" id="nome" placeholder="Ex: João Silva">
        <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="text-danger"></span>
    </div>

    <div class="mb-4">
        <label for="email-pf">E-mail</label>
        <input type="email" th:field="*{email}" id="email-pf" placeholder="Ex: exemplo@gmail.com">
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
    </div>

    <div class="mb-4">
        <label for="telefone-pf">Telefone</label>
        <input type="text" th:field="*{telefone}" id="telefone-pf" placeholder="Ex: (00) 1234-5678">
        <span th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}" class="text-danger"></span>
    </div>

    <hr>

    <div class="mb-4">
        <label for="login-pf">Login</label>
        <input type="text" name="login" id="login-pf" placeholder="Ex: joao.silva">
        <span th:if="${erroLogin}" th:text="${erroLogin}" class="text-danger"></span>
    </div>

    <div class="mb-4">
        <label for="password-pf">Senha</label>
        <input type="password" name="password" id="password-pf" placeholder="Mínimo 6 caracteres">
        <span th:if="${erroSenha}" th:text="${erroSenha}" class="text-danger"></span>
    </div>

    <hr>

    <div class="form-actions">
        <button type="submit" class="button-primary">Cadastrar Cliente</button>
        <span class="fw-light">Já têm uma conta? <a th:href="@{/login}">Entre agora!</a></span>
    </div>

</form>

</body>
</html>
