<header class="pg-header" th:fragment="header">
    <nav>
        <div class="pg-nav-container">
            <a class="pg-nav-brand" th:href="@{/admin/vendas}">
                <img th:src="@{/images/logo.svg}" alt="IFTO" height="40">
            </a>
            <button class="pg-nav-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="pg-nav-collapse" id="navbarSupportedContent">
                <ul>
                    <li>
                        <a aria-current="page" th:href="@{/admin/clientes}">
                            <i class="icon-person"></i> Gerenciar Clientes
                        </a>
                    </li>
                    <li>
                        <a aria-current="page" th:href="@{/admin/vendas}">
                            <i class="icon-bag"></i> Gerenciar Vendas
                        </a>
                    </li>
                    <li>
                        <a aria-current="page" th:href="@{/admin/produtos}">
                            <i class="icon-box"></i> Gerenciar Produtos
                        </a>
                    </li>
                    <li>
                        <a aria-current="page" th:href="@{/produtos}">
                            <i class="icon-box"></i> Produtos
                        </a>
                    </li>
                    <li>
                        <a aria-current="page" th:href="@{/carrinho}"> <!-- TODO: colocar badge do bootstrap com a quantidade de itens no carrinho -->
                            <i class="icon-cart"></i> Carrinho
                        </a>
                    </li>
                </ul>
                <a class="button-outline-light" th:href="@{/clientes/cadastro}">Cadastrar Cliente</a>
            </div>
        </div>
    </nav>
</header>