:root {
    --bs-breadcrumb-divider: '>';
}

a {
    text-decoration: none;
}

.pg-card {
    background-color: white;
    padding: 2rem;
}

.mt-navbar {
    margin-top: 1rem;
}

.subtotal {
    max-width: 3rem;
}

.pg-footer {
    padding-top: 1rem;
}
