@use "../../../node_modules/bootstrap/scss/bootstrap";

.subtotal {
  @extend .text-end;
  white-space: nowrap;
}

.total {
  text-align: end;
  margin-right: 15%;
}

.col-descricao {
  max-width: 14rem;

  span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
