<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head}, ~{::main}, ~{})}">

<head th:replace="~{fragments/head :: head('Vendas',~{})}"></head>

<body>

<main class="pg-card">

    <h1>
        <i class="icon-bag text-muted"></i>
        Vendas
    </h1>

    <form th:action="@{/vendas}" method="get" class="search-bar">
        <input type="search" id="nomeCliente" name="nomeCliente" placeholder="Pesquisar por nome do cliente..." aria-label="Filtro por nome de cliente" th:value="${nomeCliente}" >
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filtrar
            </button>
            <ul class="dropdown-menu">
                <li>
                    <input type="date" class="dropdown-item" id="dataInicial" name="dataInicial" href="#" aria-label="Data inicial">
                </li>
                <li>
                    <input type="date" class="dropdown-item" id="dataFinal" name="dataFinal" href="#" aria-label="Data final">
                </li>
            </ul>
        </div>
        <button class="button-secondary" type="submit" id="button-search">
            <i class="icon-search"></i>
        </button>
    </form>

    <div th:if="${filtrosAplicados != null}">
        <span th:text="${filtrosAplicados} + ' filtro(s) aplicado(s).'"></span>
        <a th:href="@{/vendas}">Limpar filtros</a>
    </div>

    <p th:if="${vendas == null || #lists.isEmpty(vendas)}">Nenhuma venda encontrada.</p>

    <table th:unless="${vendas == null || #lists.isEmpty(vendas)} ">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Data</th>
            <th scope="col">Cliente</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="venda : ${vendas}">
            <td scope="row" th:text="${venda.id}"></td>
            <td th:text="${#temporals.format(venda.data, 'dd/MM/yyyy HH:mm')}"></td>
            <td th:text="${venda.cliente.nomeExibicao}"></td>
            <td th:text="'R$ ' + ${#numbers.formatDecimal(venda.total, 1, 'POINT', 2, 'COMMA')}"></td>
            <td class="text-end">
                <a th:href="@{/vendas/detalhes/{id}(id=${venda.id})}"
                   type="button" class="button-primary"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   title="Ver detalhes da venda">
                    <i class="icon-document"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</main>

</body>
</html>