<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head}, ~{}, ~{::main})}">

<head th:replace="~{fragments/head :: head('Vendas',~{})}"></head>

<body>

<main class="container card pg-card mt-navbar">

    <h1 class="display-4">Vendas</h1>
    <br>
    <table class="table table-striped table-hover align-middle">
        <thead>
        <tr>
            <th scope="col" class="fw-light">ID</th>
            <th scope="col" class="fw-light">Data</th>
            <th scope="col" class="fw-light">Cliente</th>
            <th scope="col" class="fw-light">Total</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="venda : ${vendas}">
            <td scope="row" th:text="${venda.id}"></td>
            <td th:text="${#temporals.format(venda.data, 'dd/MM/yyyy HH:mm')}"></td>
            <td th:text="${venda.cliente.nomeExibicao}"></td>
            <td th:text="'R$ ' + ${#numbers.formatDecimal(venda.total, 1, 'POINT', 2, 'COMMA')}"></td>
            <td class="text-end">
                <a th:href="@{/vendas/detalhes/{id}(id=${venda.id})}"
                   type="button" class="btn btn-primary"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   title="Ver detalhes da venda">
                    <i class="bi bi-search"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</main>

</body>
</html>