<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head}, ~{::main}, ~{})}">

<head th:replace="~{fragments/head :: head('Gerenciar Produtos',~{})}"></head>

<body>

<main class="pg-card">

    <div class="main-double-collumns">
        <h1>
            <i class="icon-box text-muted"></i>
            Gerenciar Produtos
        </h1>
        <a th:href="@{/produtos/insert}"
           type="button" class="button-primary"
           data-bs-toggle="tooltip"
           data-bs-placement="top"
           title="Cadastrar Novo Produto">
            <i class="icon-plus"></i>
            Cadastrar Novo Produto
        </a>
    </div>

    <form th:action="@{/produtos}" method="get" class="search-bar">
        <input type="search" id="descricao" name="descricao" placeholder="Pesquisar por descrição..." aria-label="descricao" >
        <button class="button-secondary" type="submit" id="button-search">
            <i class="icon-search"></i>
        </button>
    </form>

    <div th:replace="~{fragments/alert :: alert(${erro})}"></div>

    <p th:if="${produtos == null || #lists.isEmpty(produtos)}">Nenhum produto encontrado.</p>

    <table th:unless="${produtos == null || #lists.isEmpty(produtos)}">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor(R$)</th>
            <th scope="col" colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="produto : ${produtos}">
            <td scope="row" th:text="${produto.id}"></td>
            <td th:text="${produto.descricao}"></td>
            <td th:text="'R$ ' + ${#numbers.formatDecimal(produto.valor, 1, 'POINT', 2, 'COMMA')}"></td>
            <td class="text-end">
                <div class="button-group">
                    <a th:href="@{/produtos/edit/{id}(id=${produto.id})}"
                       type="button" class="button-primary"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       title="Editar produto">
                        <i class="icon-pen"></i>
                    </a>
                    <form th:action="@{/produtos/delete/{id}(id=${produto.id})}" method="post">
                        <button type="submit" class="button-danger"
                                onclick="return window.confirm('Tem certeza que deseja excluir este produto?')"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title="Deletar produto">
                            <i class="icon-trash"></i>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</main>

</body>
</html>